<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gleitzsch</title>
      <style>
   body {
    background-image: url(https://pp.userapi.com/c841427/v841427758/3b605/c_tYr1vUZg4.jpg);
    background-color: #c7b39b;
   }
    input.t4 {
    background: -moz-linear-gradient(#f2f2f2, #777, #404040, #252525);
    background: -webkit-gradient(linear, 0 0, 0  100%, from(#f2f2f2), to(#252525), color-stop(0.6, #777), color-stop(0.6,  #404040));
    color: #fff;
    border: 2px solid  #666;

   }

  </style>
    </head>
<body>
    <div class="container" align="center">
                <h1><img src="/static/logo.png" alt="Logo" width="250" height="150" align="center"></h1>
                <br />
                <form action="" method=post enctype=multipart/form-data>
                    <p>                        <br><br> Your file: <br>
                        <input type=file name=file class="t4">
                        <p>Options:</p>
                        <p>blue_red_shift | even positive integer like 2,4,8 etc. <input type = "text" name = "blue_red_shift" /></p>
                        <p>gamma | float number like 0.1,1.2 etc. <input type = "text" name = "gamma" /></p>
                        <p>blacks enchancement | integer positive value >= 0, like 1,3,5 etc. <input type = "text" name = "blacks" /></p>
                        <p>whites enchancemnt |  integer positive value <= 100, like 80,90,95 etc. <input type ="text" name = "whites" /></p>
                        <input type="submit" name="okbuttan" value="GLITCH_IT!" class="t4">
                </form>

                <br />

    </div>


</body>
</html>
